@model List<Channel>
@{


}
<div class="main">
    <nav class="navbar navbar-expand navbar-light navbar-bg justify-content-between">
        <a class="sidebar-toggle js-sidebar-toggle hamburgerA">
            <img src="~/assets/images/Hamburger.png">
        </a>
    </nav>
    <div class="MainSection">
        <div class="container">
            <div class="row d-block">
                <p style="font-size: 30px;" class="text-white mt-5">Find best servers for yourself </p>
                <div class="col-12 inputName">
                    <input class="searchInput" type="text" placeholder="Input Name">
                    <a class="ServerSearchButton" asp-action="SearchServer" asp-controller="Home"><i class="fa-solid fa-search ms-2"></i></a>
                </div>
                <div class="col-12 mt-4 searchedServers">
                    <ul id="searchedServers" class="d-flex flex-wrap ">
                        @foreach (var server in Model)
                        {
                            <li class="d-flex serverCard col-8 ">
                                <div class="col-4 leftSide">
                                    <img src="~/uploads/servers/@server.ServerImage"/>
                                </div>
                                <div class="col-8 rightSide">
                                    <div class="cardTop">
                                        <div class="ServerName text-center">
                                            <p>@server.Name</p>
                                        </div>
                                        <div class="ServerDescription text-center">
                                            <p>@server.Desc</p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="MemberCount">
                                            <p>Member:@server.ServerMembers.Count</p>
                                        </div>
                                        @if (server.IsPrivate)
                                        {
                                            <a class="joinServerBtn" asp-action="SendJoinRequest" asp-controller="home" data-id="@server.Id">Send Request</a>
                                        }
                                        else
                                        {
                                            <a class="joinServerBtn" asp-action="JoinServer" asp-controller="home" data-id="@server.Id">Join</a>
                                        }
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/JoinServer.js"></script>
    <script src="~/assets/js/SearchServer.js"></script>
		}